@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Dots&display=swap");

:root {
	--animation-slideIn: slideIn 1.5s ease-in-out forwards;
	--animation-slideUp: slideUp 1.5s ease-in-out forwards;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

li {
	list-style: none;
	font-size: 1em;
}
.main-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: "Roboto", sans-serif;
}

/* nav section */
nav {
	width: 200px;
	background-color: rgba(133, 192, 214);
	line-height: 1em;
	height: 100%;
	position: fixed;
	box-shadow: 0px 5px 0px black;
}

nav ul {
	text-align: center;
}
nav ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

nav ul li a,
nav ul li a::after,
nav ul li a::before {
	transition: all 0.5s;
}

nav ul li a:hover {
	color: white;
	padding: 1em;
}

nav.fill ul li a {
	position: relative;
	transition: all 1s;
}

nav.fill ul li a::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	color: transparent;
	background: rgb(203, 21, 85);
	height: 1px;
	text-align: left;
	content: "";
	margin: 0;
	opacity: 0;
	border-radius: 15px;
}

nav.fill ul li a:hover {
	color: white;
	z-index: 1;
}

nav.fill ul li a:hover::after {
	z-index: -10;
	animation: nav-fill 1s forwards;
	-webkit-animation: nav-fill 1s forwards;
	-moz-animation: nav-fill 1s forwards;
	opacity: 1;
}

.name-title {
	padding: 1.5em;
}

#name {
	line-height: 1.5em;
	font-size: 1.5em;
	margin-bottom: 0.3em;
	font-family: "Zen Dots", cursive;
}
#name a {
	text-decoration: none;
	color: inherit;
}

.title {
	margin-top: 1em;
}

.nav-list {
	margin: 2em 2em;
}

.nav-item {
	margin: 2em 0;
}

.nav-item a {
	text-decoration: none;
	color: inherit;
}

.link {
	display: flex;
	justify-content: space-evenly;
}
.link img {
	width: 30px;
}

/* contents section */
section.contents {
	margin-left: 160px;
	width: 100%;
	height: auto;
	padding: 1.5em 1em 1.5em 1em;
	line-height: 2em;
	background-image: linear-gradient(
		to right,
		rgb(239, 243, 245),
		rgb(196, 242, 250)
	);
}

#about,
#projects,
#experience,
#education,
#contacts {
	position: relative;
	left: 30px;
	padding: 1em 1em;
	animation: var(--animation-slideIn);
}

/* About section */

.about-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}
.about-image {
	width: 30%;
	margin: 1em;
}
.about-image img {
	width: 90%;
	height: auto;
}

.about-content {
	width: 60%;
	padding: 1em;
	height: auto;
}
.about-content p {
	line-height: 1.5em;
	text-indent: 5%;
	margin-bottom: 0.5em;
	text-transform: capitalize;
}

@media screen and (max-width: 960px) {
	.about-container {
		flex-direction: column;
	}
	.about-image {
		width: 100%;
	}

	.about-content {
		width: 100%;
		padding: 1em;
		height: auto;
	}
}

.about-skills {
	background-color: rgb(176, 210, 243);
	margin-top: 1em;
	padding: 1em;
	overflow: auto;
	text-align: center;
}

.about-header {
	margin-left: 1em;
}

.about-skills table {
	width: 100%;
}

/* projects section */

#projects,
.projects-container,
.full-stack,
.software-engineer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: auto;
}

.full-stack-content,
.software-content,
.links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1em 0;
}

.projects-header {
	width: 100%;
}

.projects-container {
	margin-top: 2em;
}

.project {
	background-color: rgb(247, 234, 234);
	margin: 1em 0.5em;
	padding: 0.5em;
	box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 0 1 500px;
	border-radius: 15px;
}
@media screen and (max-width: 960px) {
	.full-stack-content,
	.software-content {
		flex-direction: column;
	}
	.project {
		width: 100%;
		margin: 1em;
	}
}

.full-stack-header,
.software-header {
	font-style: italic;
	text-transform: uppercase;
}
.project-header {
	text-align: center;
	width: 100%;
	background-color: rgb(17, 49, 61);
	color: white;
}

.project-explain {
	width: 100%;
}
.project-explain ul {
	list-style: none;
}
.project-explain li {
	padding: 0.5em;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.btn-link {
	border-radius: 1.5em;
	padding: 0.5em;
	margin: 0.5em 1em;
	background-color: rgb(4, 55, 197);
	color: white;
	border-color: white;
	font-weight: bold;
}

.btn-link:hover {
	background-color: white;
	color: rgb(4, 55, 197);
}

.project-img {
	display: grid;
	place-items: center;
}

.img-grid-rows {
	grid-template-columns: 1fr 1fr;
}

.img-grid-columns {
	grid-template-rows: 1fr 1fr;
}

.project-img img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.project-explain p {
	text-indent: 5%;
}
/* experience section */
#experience {
	height: auto;
}
.experience-timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em 1em 1em 1em;
}

.experience-timeline::after {
	content: "";
	position: absolute;
	width: 6px;
	background-color: rgb(28, 50, 53);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.experience-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.experience-container::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid rgb(163, 208, 224);
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.left {
	left: 0;
}

.right {
	left: 50%;
}

.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

.right::after {
	left: -16px;
}

.experience-content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
	box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 960px) {
	.experience-timeline::after {
		left: 31px;
	}
	.experience-container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.experience-container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	.left::after,
	.right::after {
		left: 15px;
	}

	.right {
		left: 0%;
	}
}

.experience-period,
.experience-title {
	font-weight: bold;
}

.experience-content img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: rgb(25, 64, 77);
}
.experience-content:hover .overlay {
	opacity: 1;
	overflow: auto;
}
.experience-detail {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

/* education section */
.education-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#ryerson,
#kyunghee,
#codecademy {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1 1 300px;
	margin: 1em 1em;
	box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.05);
	border-radius: 30px;
	padding: 0.5em;
}

@media screen and (max-width: 1024px) {
	#ryerson,
	#kyunghee,
	#codecademy {
		width: 80%;
	}
}

@media screen and (max-width: 800px) {
	#ryerson,
	#kyunghee,
	#codecademy {
		width: 100%;
	}
}
#ryerson h3,
#kyunghee h3 {
	text-align: center;
}
.education-container img {
	width: 100%;
	height: 10em;
	object-fit: fill;
}
.major {
	margin: 1em 0;
	text-align: center;
}
.course-list {
	line-height: 1.5em;
}
.course-list h4 {
	margin: 0 1em 1em 1em;
}
.course-list ul li {
	padding: 0.2em 0.2em 0.2em 1em;
}

/* contacts section */
.stress {
	color: rgb(163, 0, 163);
	font-weight: bold;
}
.stress a {
	text-decoration: none;
	color: inherit;
}

#contacts .link {
	display: inline-block;
}
#contacts .link img {
	margin: 0.5em 1em 0 0;
}
/* animation */
@keyframes slideIn {
	0% {
		transform: translateX(400px) scale(0.2);
	}
	100% {
		transform: translateX(0px) scale(1);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(300px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes expand {
	0% {
		transform: translateX(1400px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes nav-fill {
	0% {
		width: 0%;
		height: 1px;
	}
	50% {
		width: 100%;
		height: 1px;
	}
	100% {
		width: 100%;
		height: 100%;
		background: rgb(51, 60, 42);
	}
}

@media screen and (max-width: 420px) {
	* {
		font-size: 12px;
		/* text-align: center; */
	}
	html {
		width: 100%;
	}
	.main-container {
		display: grid;
		grid-template-rows: auto auto;
	}
	nav {
		height: auto;
		width: 100%;
		position: fixed;
		z-index: 10;
		display: grid;
		grid-template-rows: auto auto;
		grid-row-gap: 1em;
		/* place-items: center; */
	}

	nav ul li a:hover {
		color: white;
		padding: 0.5em;
	}

	#title,
	.link {
		display: none;
	}
	.name-title {
		padding: 0.5em;
		margin: 0.1em;
		height: 1em;
	}
	#name {
		text-align: center;
	}
	.nav-list {
		display: grid;
		grid-gap: 1em;
		/* height: 100px; */
		width: 100%;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(2, auto);
		place-items: center;

		margin: 0.5em;
		padding: 1em;
	}
	.nav-item {
		font: 1em;
		font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		margin: 0;
	}

	section.contents {
		position: relative;
		top: 100px;
		margin: 0px;
		width: auto;
		padding: 0 0.5em;
	}

	#about,
	#projects,
	#experience,
	#education,
	#contacts {
		left: 0;
		top: 60px;
	}

	/* .project-img img {
		width: fit-content;
		height: fit-content;
	} */
}
